
<!DOCTYPE html>
<html>
<head>
    <!-- 제이쿼리 임포트 --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
          <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR:wght@500&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR:wght@500&family=Sunflower:wght@500&display=swap"
          rel="stylesheet">      


</head>
<style>

.category {
            width: 100%;
            height: 100px;
            background-color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: x-large;
            margin: auto;

            position: fixed;
            z-index: 1;

        }

        .category > button {
            font-family: 'Black Han Sans', sans-serif;
            margin: auto;

        }

        .menu_link {
            display: block; /*table-cell이 가지고 있는 최대 너비에 꽉 맞는 구조로 만들기 위해*/
            height: 36px;
            line-height: 36px;
            color: #333;
            text-align: center;
        }

        .menu_item + .menu_item .menu_link {
            margin-left: -1px; /*인접한 border 겹치는 현상 해결*/
        }

        /*메뉴 오버 효과*/
        .menu_link:hover  {
            /*상위의 menu_item에 hover를 주는게 menu_link에 주는것보다 확장성이 좋음*/
            color: green;
            font-weight: bold;
        }

        /*메뉴 활성화 부분*/
        .menu_item.active .menu_link {
            position: relative; /*메뉴 구조에서 제일 상단으로 올라오게 하기 위해서. relative 선언해주면 z-index가 새로 생성됨*/
            border-color: #555;
            font-weight: bold;
            color: #fff;
            background: gray;
        }


        body {
           width: 100%;
           background-color: ivory;

       }

       .item_img {
           width: 350px;
           height: 350px;
           margin: 10px auto;
           display: block;
           border: 1px solid #ffcc00;
           border-radius: 10px;
       }

        .items_lists {
            background-color: ivory;
            width:100%;

            display: inline-flex;
            flex-flow: row wrap;
            justify-content: center;

        }

        .item_list {
            width: 400px;
            padding: 10px;
            margin: 50px 15px;
            align-content: flex-start;

            background-color: white;

            box-shadow: 0px 0px 3px 0px gray;
            border-radius: 10px;

            border: 5px solid #ffcc00;
        }

        .item_user {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .today {
            display: inline-block;
            padding: 0 10px 0 0;
            font-size: 15px;
        }

         .user_name {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
             padding: 0 0 0 10px;
            font-size: 15px;
        }

        hr {
            margin-bottom: 10px;
        }


        .info_text {
            margin-bottom: 10px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        .span1 {
            display: inline-block;
            width: 110px;
            text-align: center;

            padding: 5px 10px 5px 10px;
            border: 1px solid transparent;
            border-radius: 5px;
        }

        .span2 {
            display: inline-block;
            width: 250px;

            padding: 5px 10px 5px 10px;
            border: 2px solid gray;
            border-radius: 5px;
        }
      


</style>

<script>

$(document).ready(function() {
    detail();
    console.log("detail 호출")
});

function detail() {
    const postNumber = location.pathname.split('/')[2]
    console.log(postNumber)
    $.ajax({
        type: 'GET',
        url: `/postingLists/${postNumber}`,
        data:{},
        success: function(response) {
            let rows = response['result']
            console.log(response)
            console.log(rows)
                let name = rows["name"];
            let date = rows["date"];
                let title = rows["title"]
                let content = rows["content"]
                let postNumber = rows["postNumber"]
                let postPassword = rows["postPassword"]       
                let star_row = '*'.repeat(postPassword.length)         

    let temp_html = `<div class="item_list">
                        <div class="item_user">
                           <li class="user_name">작성자: ${name}</li>
                            <li class="date">${date}</li>
                        </div>
                        <hr>
                                   <span class="span1">제목</span>
                                    <span class="span2">${title}</span>
                              <div class="item_info">
                                <div class="info_text">
                               </div>
                                 <div class="info_text">
                                    <span class="span1">내용</span>
                                    <span class="span2">${content}</span>
                                </div>
                                 <div class="info_text">
                                    <span class="span1">게시글번호</span>
                                    <span class="span2">${postNumber}</span>
                                </div>
                                   <div class="info_text">
                                    <span class="span1">게시글암호</span>
                                    <span class="span2">${star_row}</span>
                                </div>
                                <div class="info_text">
                                    <button onclick = "deletePosting()" >게시글삭제</button>
                                    <span class="span2"><input type="text" style="border:0 solid black" placeholder="게시글 암호 입력" id="deletePassword"/> </span>
                                </div>
                                <div class="info_text">
                                <button onclick = "editPosting()" >게시글수정</button>
                                    <span class="span2"><input type="text" style="border:0 solid black" placeholder="게시글 암호 입력" id="editPassword"/> </span>
                                   </div>`

                               

                                

    $('#items_lists').append(temp_html)

        }
});
};

  function deletePosting(){
    let deletePassword = $('#deletePassword').val()
    console.log(deletePassword)  
    let postNumber = location.pathname.split('/')[2]
    console.log(postNumber)
        $.ajax({
        type: 'post',
        url: `/postingLists/${postNumber}/delete`,
        data:{deletePassword: $('#deletePassword').val()},
        success: function (response) {
            if (response['result'] == 'success') {
                        alert('게시글이 삭제되었습니다')
                        window.location.href = '/postingList'
                    }else{
                        alert('게시글 비밀번호를 정확히 입력해주세요')
                }
            }
    })

    };

    function editPosting(){
    let editPassword = $('#editPassword').val()
    console.log(editPassword)  
    let postNumber = location.pathname.split('/')[2]
    console.log(postNumber)
    $.ajax({
        type: 'post',
        url: `/postingLists/${postNumber}/editdata`,
        data:{editPassword: $('#editPassword').val()},
        success: function (response) {
            if (response['result'] == 'success') {
                        alert('게시글 수정 페이지로 이동합니다')
                        window.location.href=`/postingLists/${postNumber}/edit`
                    }else{
                        alert('게시글 비밀번호를 정확히 입력해주세요')
                }
            }
    })
    
    }



    
    function sport_item_move(){
        window.location.href='/postingList'
        console.log("html 포스팅목록 불러오기")
    }
    
    function recordFormCall(){
    let userToken = localStorage.getItem("token")
    if (userToken) { document.location.href = "/postingForm"
}else{ document.location.href = "/login", alert("로그인 후 이용가능합니다")

}
};

function loginMove(){
    let userToken = localStorage.getItem("token")
    if (userToken) { alert("이미 로그인 하셨습니다")
}else{ document.location.href = "/login", alert("로그인 페이지로 이동합니다")
}
};

function signOut() {
  localStorage.clear();
  window.location.href = "/";
}      
            
</script>

<body>

    <div class="category">
        <button class="menu_link" onclick="recordFormCall()">글쓰기</button>
        <button class="menu_link" onclick="sport_item_move()">게시글 목록 조회하기</button>
        <button class="menu_link" onclick="loginMove()">로그인</button>
        <button class="menu_link" onclick="signOut()">로그아웃</button>
    </div>

   
</div>

<div class="mytitle">
    <h1><span style="color: blueviolet">hangHae</span> <span style="color: gold">Log</span>
    </h1>
</div>

<div class="items_lists" id="items_lists">

</div>


</body>
</html>
